.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  flex-direction: column;
}

.input-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(53, 40, 40);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  height: 600px;
}

.contacts-section {
  width: 30%;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 400px;
}

.contact-card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.contact-name {
  font-size: 15px;
  margin: 2px;
  display: flex;
}

.contact-email {
  font-size: 16px;
}

.first-name {
  margin: 3px;
}

.last-name {
  margin: 3px;
}







