.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.input-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  height: 500px;
}

.input-field {
  width: 80%;
  padding: 5px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}

.select-field {
  width: 85%;
  padding: 2px;
  margin: 5px 0;
  font-size: 15px;
  border-radius: 5px;
}

.radios-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.save-button {
  width: 80%;
  padding: 5px;
  margin: 5px 0;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contacts-section {
  width: 30%;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 400px;
}

.contact-card {
  width: 200px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  text-align: center;
  color: rgb(0, 0, 0);
}

.contact-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-email {
  font-size: 16px;
}


